.header-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 550px;
    background: radial-gradient(circle at top left, #00b4d8, #ff9800);
}

